<launch>

    <arg name="rgb_camera" default="/camera/color/" doc="The input camera namespace"/>
    <arg name="rgb_camera_topic" default="$(arg rgb_camera)/image_raw" doc="The input camera image topic"/>
    <arg name="rgb_camera_info" default="$(arg rgb_camera)/camera_info" doc="The input camera info topic"/>
    <arg name="filtering_frame" default="camera_color_optical_frame" doc="The frame where the face pose filtering will take place"/>

    <node pkg="hri_face_detect" name="hri_face_detect" type="detect" output="screen">
        <param name="filtering_frame" value="$(arg filtering_frame)"/>
        <remap from="image" to="$(arg rgb_camera_topic)"/>
        <remap from="camera_info" to="$(arg rgb_camera_info)"/>
    </node>

</launch>
